.bg {
  /* height: 86vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

mat-card-title {
  font-size: 40px;
  font-weight: bold;
  padding: 40px;
}

p {
  font-size: 15px;
  /* padding: 20px; */
}

mat-card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-title,
mat-card-subtitle,
mat-card-content p {
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}
