<div class="bg-expand">
  <button mat-raised-button color="primary" class="right-btn" (click)="add()">
    New Professor
  </button>
  <mat-card>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Computer Science"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- CIN Column -->
        <ng-container matColumnDef="CIN">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CIN</th>
          <td mat-cell *matCellDef="let row">{{ row.CIN }}</td>
        </ng-container>
        <!-- Fullname Column -->
        <ng-container matColumnDef="Fullname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fullname</th>
          <td mat-cell *matCellDef="let row">
            {{ row.name }} {{ row.lastname }}
          </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>
        <!-- FieldOfStudy Column -->
        <ng-container matColumnDef="Establishment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Establishment
          </th>
          <td mat-cell *matCellDef="let row">{{ row.establishment }}</td>
        </ng-container>
        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="view(row.id)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="edit(row.id)">
              <mat-icon
                aria-hidden="false"
                aria-label="Example edit icon"
                fontIcon="edit"
                class="ied"
              ></mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(row.id)">
              <mat-icon
                aria-hidden="false"
                aria-label="Example delete icon"
                fontIcon="delete"
                class="idel"
              ></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </mat-card>
</div>
