.bg {
  /* height: 86vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
mat-card {
  width: 1000px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
mat-card-subtitle {
  display: flex;
  justify-content: center;
}
